
<div class="ui-rtl" align="center">
  <p-dialog showEffect="fade" [(visible)]="display" header="New Location"
            [contentStyle]="{'margin-bottom': '1em','max-height':'200px', 'overflow':'visible'}">
    <p-header>
      Header content here
    </p-header>
    <div class="ui-g ui-fluid" *ngIf="selectedLng&&selectedLat">
      <div class="ui-g-4"><label for="title">Label</label></div>
      <div class="ui-g-8"><input type="text" pInputText id="title" [(ngModel)]="eventName"></div>

      <div class="ui-g-4">
        Date
      </div>
      <div class="ui-g-8">
        <p-calendar [(ngModel)]="date"></p-calendar>
      </div>
      <div class="ui-g-4">
        Description
      </div>
      <div class="ui-g-8">
        <textarea pInputTextarea type="text" [(ngModel)]="eventDescription"></textarea>
      </div>
      <div class="ui-g-12"><label>Lat: {{selectedLat}}</label> <label>Lng: {{selectedLng}}</label></div>
      <div class="ui-g-4" > <p-button label="Add Even" icon="fa-plus" (click)="addEvent()"></p-button></div>
    </div>

  </p-dialog>
</div>
